body{
        margin: 5vw;
  font-family: "Sour Gummy", sans-serif;
  background:  #0e4411; 
      width: 100vw;
      height: 110vh;
      display: flex;
justify-content: center;
align-items: column;

}
.top{
        margin: 5vw;
  font-family: "Sour Gummy", sans-serif;
  background:  #8d1a05; 
      width: 200vw;
      height: 160vh;
      display: flex;
flex-direction: column;

}
img{
        margin:2vw;
}
.main{      
     margin: 5vw;   
    display: flex;
justify-content: center;
flex-direction: column;
}
.pic{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: left;
}
h1{
    color:white;
    font-size: 3vw;
          display: flex;
justify-content: center;
align-items: center;
}
h2{

    color:white;
    font-size: 2vw;
          display: flex;
justify-content: center;
align-items: center;
}
p{

    color:white;
    font-size: 2vw;
          display: flex;
justify-content: center;
}
   
.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}